@page "/"

<PageTitle>Reno Tracker</PageTitle>


<h1>Reno Tracker</h1>


<div id="banner">
    <div id="banner-text-container" class="col-6">
        <h1><strong>Reno-Tracker</strong></h1>
        <p>
           Your ultimate companion for managing and monitoring construction projects effortlessly. Whether you're a contractor or DIY enthusiast, our user-friendly web app streamlines project organization, tracking, and collaboration.<br /><br />
            From timelines and budgeting to inventory and team communication, Reno-Tracker ensures a smooth renovation experience. Embrace efficiency, stay on schedule, and achieve your dream home transformations with our all-in-one solution. <br /><br />
            Start your next project confidently with Reno-Tracker as your trusted partner in building envisioned spaces.
        </p>
    </div>
    <div class="col-6 pt-3">
        <div id="logo-container">
            <img id="reno-logo" src="/Assets/RenoLogo.png" alt="Reno Logo" width="250" height="250" class="" />
        </div>
    </div>      
</div>