body {
}

h3 {
    background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100% );
    color: white;
    padding: 1rem;
}

.btn {
    border-radius: 14px;
    width: 7rem;
}

#menu-buttons {
    display: flex;
    gap: 1rem;
}

.container {
    margin-top: 2rem;
}

#job-supplies-menu, #job-supplies-display {
    max-width: 70%;
    margin: auto;    
}
#job-supplies-display {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#job-supplies-menu fieldset {
        padding: .5rem;
    }

#menu {
    display: flex;
    padding: .5rem 0;
}

#menu-select-job {
    display: flex;
}

#menu-select-job label {
    margin: auto;
    margin-left: 0;
    margin-right: 1rem;
}

#job {
    max-width: 75%;
}

#table-alert {
    margin: auto;
}

#table-wrapper {
    max-height: 450px;
    overflow-y: scroll;
}

/*TODO fix responsiveness*/
@media (max-width: 1000px) {

    #menu-select-job {
        width: 100%;
        margin-bottom: 1rem;

    }
    #menu {
        display:flex ;
        flex-direction: column;
    }
   
    #menu-buttons {
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
}

